{% extends 'base.html' %}

{% block content %}
<h1>{{ person.username }}님의 프로필</h1>

{% with followings=person.followings.all followers=person.followers.all %}
  <div id>
    <div>
      팔로잉 : <span id = 'followings-count'>{{ followings|length }}</span> / 팔로워 :  <span id = 'followers-count'>{{ followers|length }}</span>
    </div>
    {% if request.user != person %}
      <div>
        <form id = 'follow-form' data-user-id = "{{person.pk}}">
          {% csrf_token %}
          {% if request.user in followers %}
            <button>언팔로우</button>
          {% else %}
            <button>팔로우</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
{% endwith %}

{% block script %}
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    form.addEventListener('submit',function(event){
      event.preventDefault()
      const userId = event.target.dataset.userId
      axios({
        method : 'post',
        url : `/accounts/${userId}/follow/`,
        headers : {'X-CSRFToken':csrftoken,}
      })
      .then((response) => {
        const followBtn = document.querySelector('#follow-form > button')
        const isFollowed = response.data.is_followed

        if (isFollowed === true){
          followBtn.innerText = '언팔로우'
        }
        else {
          followBtn.innerText = '팔로우'
        }
        
        const followersCountTag = document.querySelector('#followers-count')
        const followingsCountTag = document.querySelector('#followings-count')
        const followersCount = response.data.followers_count
        const followingsCount = response.data.followings_count
        followersCountTag.innerText = followersCount
        followingsCountTag.innerText = followingsCount
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  </script>
{% endblock script %}
{% endblock content%}