{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr>
    <h1>{{question.title}}</h1>
    <a href="{% url 'eithers:update' question.pk %}" method = "POST">UPDATE</a>
    <form action="{% url 'eithers:delete' question.pk %}" method = 'POST'>
        {% csrf_token %}
        <input type="submit" value = 'delete'>
    </form>
    <br>
    <br>
    <b>Red TEAM</b>
    <p> {{question.issue_a}} => <b>{{red}} 명 선택 ({{red_ratio|floatformat:1}}%)</b> </p> 
    <b>Blue TEAM</b>
    <p> {{question.issue_b}} => <b>{{blue}} 명 선택 ({{blue_ratio|floatformat:1}}%)</b> </p>
    <hr>
    {{comments|length}} 개의 댓글
    <form action="{% url 'eithers:comments_create' question.pk %}" method = "POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit">
    </form>
    <hr>
    <h3>댓글 목록</h3>
    {% for c in comments %}
        <p>{{c.pick}} - {{c.content}}</p>
        <form action="{% url 'eithers:comments_delete' question.pk c.pk %}" method = 'POST'>
            {% csrf_token %}
            <input type="submit" value = 'delete'>
        </form>
    {% endfor %}
    <hr>    

    <a href="{% url 'eithers:index' %}">back</a>
{% endblock content %}